{% extends "base.html" %}{% block title%}{% endblock %}{% block content%}

<form action="{{url_for('views.home')}}" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Website/app</label>
      <input type="text" class="form-control" name="website" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Enter website/app name to generate password.</div>
    </div>
    <input type="submit" class="btn btn-primary" value="generate"></input>
  </form>


{% endblock %}
