{% extends "base.html" %}{% block title%}{% endblock %}{% block content%}

<head>
    <title>Home</title>
    <link
      href="{{url_for('static', filename='styles/home.css')}}" 
      rel="stylesheet"
    />
</head>
<body>
    <main>
        <div class='parent'>
            <div class='box'>
                <h1>Generate your<br>password today</h1>
            </div>
            <div class ='p-text'>
                <p>Create, secure, and easy to access <br> all your passwords.</p>
            </div>
            <div class="button">
                <form method="POST">
                    <button class="btn" type="submit">Start Now</button>
                </form>
            </div>
            <div class= "pics">
                <img scr ="{{url_for('static', filename='pics/13189.jpg')}}"/>
            </div>
               
                
        </div>
    </main>
</body>

{% endblock %}
