body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(56, 56, 56);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn{
    display: inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #FFFFFF;
    background-color:#4eb5f1;
    text-align: center;
    transition:all 0.2s;
    margin-left:10%;
    
}
.btn:hover{
    background:#4095c6;

}

@media all and (max-width:30em){
    .btn{
        display:block;
        margin:0.2em auto;
    }
}
.parent{
    width: 100%;
    height: 100%;
    align-items:center;
    
}
.box{
    position: relative;
    margin: 0 auto;
    margin-top: 30%;
    margin-left: 10%;
    color: white;
    font-family: "Times New Roman";
    font-size: 100px;
    


}

.p-text{
    position: relative;
    margin:0 auto;
    margin-left: 10%;
    color:white;
    font-family:'Times New Roman';
    font-size: 20px;
    

}

.image{
    height: 100%;
    width: 100%;
}